/*GENERAL*/

body {
    background-image: url("../img/gradient.png");
    font-size: 14px;

}

.main-container {
    margin: 0 auto;
    width: 78%;
    background-color: green;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.clearfix:after,
.clearfix:before {
    content: '';
    clear: both;
    display: block;
}

a {
    text-decoration: none;
    color: #fff;
}

/*HEADER*/

header {
    height:175px;
    background-color: #fff;
    position: relative;
}

/*уддобней всего, на мой взгляд, логотип спозиционировать абсолютно,
а контакты и ссылки на страны разместить в отдельных div-ах класса
header-line (каждый как бы отдельная строка в header).

Сами контакты и список стран - в контейнерах с float: right;
*/

.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.header-line {
    padding-right:35px;
}

.contacts {
    float: right;
    font-family: "Tahoma Regular";
    margin-top: 10px;
    line-height: 16px;
    font-size: 13px;
    color: #128aa7;
}

.countries-menu {
    margin-top: 35px;
    float: right;
}

.countries-list li {
    display: inline-block;
}

/*BODY*/

.photo {
    /*background: red;*/
    /*padding: 0;*/

}

.main-photo {
    width: 100%;
}

.main-menu {
    background-image: url("../img/menu_background.png");
    height: 30px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    padding-left: 50px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

.menu {
    display: inline-flex;
}

.menu li {
    position: relative;
    padding: 0 5px;
}

.menu > li > a{
    display: block;
    height: 30px;
    line-height: 20px;
    padding-left: 15px;
    width: 135px;
    background-image: url("../img/white_triangles.png");
    background-repeat: no-repeat;
    background-position: right center;

}

.submenu {
    top: 30px;
    display: none;
    position: absolute;
    box-sizing: border-box;

}

.submenu > li > a {
    display: block;
    height:30px;
    line-height: 30px;
    text-align: left;
    background-color: #303030;
    width: 150px;
    padding: 0 10px;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
    /*border-radius: 1px;*/
}

.menu > li:hover > .submenu,
.submenu:hover {
    display: block;
}

.submenu li a:hover {
    background-color: #252525;
}

.body-box {
    background-color: #edeef0;
    height: 500px;
    overflow: hidden;
}

.pan {
    height: 2000000px;
}

.pan p {
    padding: 0 10px;
}

.left-panel {
    float: left;
    width: 20%;
}
.right-panel {
    float: right;
    width: 20%;
}
.main-panel {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;

}

/*FOOTER*/

footer {
    height: 40px;
    text-align: center;
}

footer p {
    font-size: 12px;
    line-height: 40px;
    color:white;
}
