/*GENERAL*/

body {
    background-image: url("../img/gradient.png");
}

.main-container {
    margin: 0 auto;
    width: 78%;
    height: 500px;
    background-color: green;
}

.clearfix:after,
.clearfix:before {
    content: '';
    clear: both;
    display: block;
}

/*HEADER*/

header {
    height:175px;
    background-color: #fff;

}

.logo-container {
    float: left;
    padding: 10px 0px 0px 10px;
}

.header-right {
    float: right;
    padding-right:35px;
}

.contacts-container {
    padding: 10px 0 35px 0px;*/
}

.contacts {
    float: right;
    font-family: "Tahoma Regular";
    line-height: 16px;
    font-size: 13px;
    color: #128aa7;
}

.countries-list li {
    display: inline-block;
}

/*BODY*/

.photo {
    /*background: red;*/
    padding: 0;

}

.main-photo {
    width: 100%;
}
