/*GENERAL*/

body {
    background-attachment: fixed;
    background-image: url('../img/gradient.png');
    font-size: 14px;

}

.main-container {
    width: 78%;
    margin: 0 auto;
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .75);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .75);
}

.clearfix::after,
.clearfix::before {
    display: block;
    clear: both;
    content: '';
}

a {
    color: #fff;
    text-decoration: none;
}

/*HEADER*/

header {
    position: relative;
    height: 175px;
    background-color: #fff;
}

/*уддобней всего, на мой взгляд, логотип спозиционировать абсолютно,
а контакты и ссылки на страны разместить в отдельных div-ах класса
header-line (каждый как бы отдельная строка в header).
Сами контакты и список стран - в контейнерах с float: right;
*/

.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.header-line {
    padding-right: 35px;
}

.contacts {
    margin-top: 10px;
    float: right;
    color: #128aa7;
    font-family: 'Tahoma Regular';
    font-size: 13px;
    line-height: 16px;
}

.countries-menu {
    margin-top: 35px;
    float: right;
}



.countries-list > li {
    display: inline-block;
    /*margin: 0 -1px;*/
    width: 55px;
}

.countries-menu a,
.countries-menu span
 {
    display: block;
    color: #128aa7;
    font-size: 11px;
    text-align: center;
}

.country-name:hover {
    color: #ff062f;
}

/*BODY*/

.photo {
    /*background: red;*/
    /*padding: 0;*/

}

.main-photo {
    width: 100%;
    border-top: 2px solid #138aa7;
    border-bottom: 2px solid #138aa7;
}

.main-menu {
    position: relative;
    height: 30px;
    margin-top: -3px;
    padding-left: 20px;
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid #000;
    background-image: url('../img/menu_background.png');
    -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .75);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .75);
}

.menu {
    display: inline-flex;
    width: 1020px;
    font-size: 13px;
    text-align: center;
}


.triangle-box {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    line-height: 25px;
    box-sizing: border-box;
}


.menu > li {
    position: relative;
    width: 14%;
    padding: 0 5px;
}


.menu > li > a {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 25px;
    box-sizing: border-box;
}

.submenu {
    display: none;
    position: absolute;
    top: 30px;
    left: 20px;
    box-sizing: border-box;
}

.submenu > li > a {
    display: block;
    width: 130px;
    height: 30px;
    padding: 0 10px;
    background-color: #303030;
    line-height: 30px;
    text-align: left;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .75);
}

.menu > li:hover > .submenu,
.submenu:hover {
    display: block;
}

.submenu li a:hover {
    background-color: #252525;
}

.body-box {
    display: flex;
    background-color: #edeef0;
}


.pan p {
    padding: 10px;
}

.left-panel {
    width: 20%;
}

.main-panel {
    width: 60%;
    background-color: #fff;
}

.right-panel {
    width: 20%;
}


/*FOOTER*/

footer {
    height: 40px;
    text-align: center;
}

footer p {
    color: #fff;
    font-size: 12px;
    line-height: 40px;
}
